%h1
  PCM Homepage
%h2 Papers Assigned to Me to Review
%table{class:"table table-striped"}
  %thead
    %tr
      %th Author
      %th Name
      %th Action
  %tbody
    - @assignments.each do |row|
      %tr
        %td
          =row.paper.author
        %td
          =row.paper.name
        %td
          =link_to "Review", pcm_controller_review_path(paper: row.paper)
          %button Review
%h2 Request papers to Review
%table{class:"table table-striped"}
  %thead
    %tr
      %th Author
      %th Name
      %th Action
  %tbody
    - @toberequested.each do |row|
      %tr
        %td 
          =row.author
        %td
          =row.name
        %td
          =button_to "Request Paper", { action: "request_paper", paper: row}, method: :post

%h2 Papers I Requested To Review
%table{class:"table table-striped"}
  %thead
    %tr
      %th Author
      %th Name
      %th Action
  %tbody
    - @requested.each do |row|
      %tr
        %td
          =row.author
        %td
          =row.name
        %td
          =button_to "Delete Review Request", {action: "delete_request", paper:row}, method: :delete, data: {confirm: "Are you sure ?"}

%h2 Papers I have reviewed
%table{class:"table table-striped"}
  %thead
    %th Paper
    %th Rating
  %tbody
    -@reviewed.each do |review|
      %tr
        %td
          =review.paper.name
        %td
          =review.rating