%h1{class:"pcm-heading"}
	Review


.card{class:"text-left", style: "box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);"}
	.card-header
		%ul{class: "list-group list-group-flush"}
			%li{class: "list-group-item"}
				status : 
				%span{class:"badge badge-success"} 
					=@paper.status
	.card-block{style:"padding:20px"}
		%p{:class => "card-text", style:"padding:20px"}
			Authors:
			=(@paper.author)
		%p{:class => "card-text", style:"padding:20px"}
			Contact:
			=(@paper.contact)
		%p{:class => "card-text", style:"padding:20px"}
			Format:
			=(@paper.format)
		- if @paper.versions.any?
			%h3 Versions
			%ul{class: "list-group list-group-flush"}
			- @paper.versions.each do |ver|
				%li{class: "list-group-item"}
					=link_to ver.name + "   ( " + ver.document_file_name + " )", ver.document.url
		-else
			%p{class: "badge badge-info"} No versions yet. 
			%br/
			%br/


%h4{class:"pcm-heading"} Write your review here

=form_tag(pcm_controller_submit_review_path(paper: @paper), method: "post") do |f| 
	=label_tag(:rating, "Select a value for rating")
	%br/
	=number_field_tag :rating, nil, min: 1, max: 5
	%br/
	=label_tag(:review, "Write below")
	%br/
	=text_area_tag(:review)
	%br/
	=submit_tag("Submit", class:"btn btn-primary")
%br/
=link_to "Back", :back