.jumbotron
  .col-sm-10
    %h1 This is SAM2018
    %p A web based paper submission and review system for "Software Architecture Mining" for the International Software Engineering Conference
    %span -June2018
    = link_to "Login", root_path