%h1{style: "text-align:center"}=@paper.name
.card{class:"text-left", style: "box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);"}
  .card-header
    %ul.nav{class:"nav-pills card-header-pills"}
      - if @paper.isAccepted?
        %li{class: "list-group-item"}
          %span{class:"badge badge-success"} Paper is Accepted!
        %li{class: "list-group-item"}
          %span{class:"badge badge-success"} Paper is Reviewed!
      -else
        %li{class: "list-group-item"}
          %span{class:"badge badge-danger"} Paper is Not Accepted
        - if @paper.isInReview?
          %li{class: "list-group-item"}
            %span{class:"badge badge-success"} Paper is Reviewed!
        -else
          %li{class: "list-group-item"}
            %span{class:"badge badge-warning"} Paper is in Review
  .card-block{style: "padding:20px"}
    %p{:class => "card-text", style:"padding:20px"}
      Authors:
      =(@paper.author)
    %p{:class => "card-text", style:"padding:20px"}
      Contact:
      =(@paper.contact)
    %p{:class => "card-text", style:"padding:20px"}
      Format:
      =(@paper.format)
    =link_to :Edit, edit_paper_path, class: "btn btn-primary"
    =link_to "Back", papers_path, class: "btn btn-primary"