%h1{style: "text-align:center"}=@paper.name
.card{class:"text-left", style: "box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);"}
	.card-header
		%ul{class: "list-group list-group-flush"}
			%li{class: "list-group-item"}
				status : 
				%span{class:"badge badge-success"} 
					=@paper.status
	.card-block{style:"padding:20px"}
		%p{:class => "card-text", style:"padding:20px"}
			Authors:
			=(@paper.author)
		%p{:class => "card-text", style:"padding:20px"}
			Contact:
			=(@paper.contact)
		%p{:class => "card-text", style:"padding:20px"}
			Format:
			=(@paper.format)
		- if @paper.versions.any?
			%h3 Versions
			%ul{class: "list-group list-group-flush"}
				- @paper.versions.each do |ver|
					%li{class: "list-group-item"}
						=link_to ver.name + "   ( " + ver.document_file_name + " )", ver.document.url
		-else
			%p{class: "badge badge-info"} No versions yet. 
		%br/
		%br/

%h1{style: "text-align:center"} Reviews
.row
	-@reviews.each do |review|
		.col-sm-6
			.card{class:"text-center", style:"box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);"}
				.card-header
					%h4=review.rating
				.card-block{style:"padding:20px;"}
				%p=review.review
				%i
					\-
					=review.user.email

%h3{style: "text-align:center"}Actions
-if not @paper.versions.any?
	%p Nothing can be done because the author has not put any versions yet.
-elsif @paper.status == "reviewed"
	
	%h3 Verdict
	=button_to "Accept Paper", { action: "accept_paper", paper: @paper.id}, method: :post, class: "btn btn-success", data: {confirm: "Are you sure ?"}
	%br/
	=button_to "Reject Paper", { action: "reject_paper", paper: @paper.id}, method: :post, class: "btn btn-danger", data: {confirm: "Are you sure ?"}
	%br/
	=link_to "Back", :back

-else
	%h5 Assign PCM's
	%table{class: "table"}
		%thead
			%th PCM
			%th Actions
		%tbody
			-@users.each do |user|
				-if not @assignments.include? user.id
					%tr
						%td=user.email
						%td=button_to "Assign", { action: "assign_paper", paper: @paper.id, user: user.id}, method: :post
