#papers
  - unless @papers.blank?
    %h1{style:"text-align:center"} Your Papers
    .row
      - @papers.each do |paper|
        .col-sm-3
          .card{style: "margin-top: 20px; padding:10px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);"}
            .card-block
              %h4{class: "card-title"}= paper.name
              %p{class:"card-subtitle mb-2 text-muted"}
                = time_ago_in_words(paper.created_at)
                ago
              %ul{class: "list-group list-group-flush"}
                -if paper.status == "accepted"
                  %li{class: "list-group-item"}
                    status : 
                    %span{class:"badge badge-success"} 
                      =paper.status
                -elsif paper.status == "rejected"
                  %li{class: "list-group-item"}
                    status : 
                    %span{class:"badge badge-danger"} 
                      =paper.status
                -else
                  %li{class: "list-group-item"}
                    status : 
                    %span{class:"badge badge-primary"} 
                      =paper.status
              %br/
              =link_to "View", paper, class: "card-link"
  - else
    %h2 Add a Paper
    %p It looks like you dont have a paper yet.
  =link_to "New Paper", new_paper_path, class: "btn btn-success", style: "margin-top:40px"