
@import "bootstrap";

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #2E2F30;
  border-radius: .4rem;
  padding: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
  height: 40px;
}

textarea {
  padding: 10px;
  min-height: 200px;
}