// Place all the styles related to the pcm_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pcm-heading{
	color: red;
}